.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f3ccd7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* REGISTER PAGE */

.form {
  margin-top: 20px;
}

.form-control {
  display: inline !important;
  font-size: 0.8rem !important;
  padding: 1.1rem 1.5rem;
}

.hide {
  visibility: hidden !important;
  display: none !important;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

body {
  font-family: 'Mali';
  font-weight: bold;
}

button {
  color: white !important ;
  background-color: #db5e88 !important;
  border-color: #db5e88 !important;
}

img {
  height: 120px;
  margin-top: 20px;
}

.reg-success {
  width: 180px;
  height: 180px;
}

.loading{
  /* width: 500px; */
  margin-top: 50px;
  height: 100px;
}
/* COUNT PAGE */
.count-btn {
  font-size: 1.75rem !important;
  width: 80px;
  height: 80px;
  padding-bottom: 8px;
  text-align: center;
  border-radius: 40px;
  border-width: 3px;
  border-color: rgb(255, 242, 254) !important;
}

.dec-margin {
  margin-right: 1rem;
  background-color: rgb(255, 75, 135) !important;
}

.inc-margin {
  margin-left: 1rem;
  background-color: rgb(67, 160, 71) !important;
}

.countdown-time{
  font-size: 2rem;
}

.count-score {
  font-size: 3.8rem;
}

.end-time {
  margin-top: '5px';
  font-size: 1rem !important;
  font-weight: normal !important;
}

.count-header {
  font-size: 1.25rem !important;
  font-weight: bold !important;
}

.count-text {
  font-size: 1rem !important;
  font-weight: normal !important;
}